<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex-gt-md="75" flex-gt-lg="50" flex="grow" layout="column">
        <md-card class="login-card md-whiteframe-z3">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Bienvenido de nuevo!</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="form" role="form">
                    <md-content>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="email" />
                            <div ng-messages="form.email.$error" role="alert" multiple>
                                <div ng-message="required">
                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="password" required>
                            <div ng-messages="form.password.$error" role="alert" multiple>
                                <div ng-message="required">Este campo es obligatorio.</div>
                            </div>
                        </md-input-container>
                        <md-checkbox ng-model="expiration" arial-label="Expiration">Recordar sesión</md-checkbox>
                    </md-content>
                </form>
            </md-card-content>
            <md-card-actions layout="column" layout-align="space-around stretch" layout-padding>
                <div layout="column" layout-align="space-around stretch" layout-wrap>
                    <md-button flex class="md-raised md-auth-button zoomAnimation" ng-click="login()" ng-disabled="form.$invalid" ng-hide="progressBarActivated || delay2">Login</md-button>
                    <div flex layout="row" layout-align="space-between center" layout-padding layout-wrap>
                        <md-button flex class="zoomAnimation" ng-href="register" ng-hide="progressBarActivated || delay2">¿No tienes cuenta?<br>Registrate</md-button>
                        <md-button flex class="zoomAnimation" ng-href="reset/password" ng-hide="progressBarActivated || delay2">¿Has olvidado<br>tu contraseña?</md-button>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate" ng-show="progressBarActivated && !delay1" class="md-auth zoomAnimation" md-diameter="100"></md-progress-circular>
                    </div>
                </div>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
