<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex-gt-md="75" flex-gt-lg="50" flex="grow" layout="column">
        <md-card class="profile-card md-whiteframe-z3">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ 'profile.header-title' | translate }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="without-padding">
                <md-tabs class="md-info" md-border-bottom="true" md-stretch-tabs="auto" md-swipe-content="true"
                md-enable-disconnect="true" md-selected="selectedProfileTab" md-align-tabs="top"
                md-dynamic-height md-border-bottom>
                    <md-tab label="{{ 'profile.recipes-title' | translate }}" md-on-select="nextPageRecipes()">
                        <div infinite-scroll="nextPageRecipes()" infinite-scroll-disabled="infiniteScroll.recipes.loadingNextPage || errorMsg" infinite-scroll-distance="3" layout-wrap>
                            <md-content class="md-padding">
                                <div class="animation-card-recipes" ng-repeat="recipe in infiniteScroll.recipes.data" flex="100">
                                    <md-card class="card-recipe-profile">
                                        <a ng-href="/recipes/{{ recipe.slug }}">
                                            <md-card-title>
                                                <md-card-title-media>
                                                    <div class="md-media-md card-media">
                                                        <img class="recipe-photo-main" data-ng-src="{{ recipe.image_main | srcImage:recipe.user }}" />
                                                    </div>
                                                </md-card-title-media>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{ recipe.title }}</span>
                                                    <span class="md-subhead">
                                                        <div data-ng-bind-html="description(recipe.steps)"></div>
                                                    </span>
                                                </md-card-title-text>
                                            </md-card-title>
                                        </a>
                                        <div layout="row" layout-align="end center">
                                            <md-button aria-label="Edit" class="md-edit" ng-href="/recipes/{{ recipe.slug }}/edit"><md-icon class="material-icons md-dark">edit</md-icon> {{ 'btn.edit-text' | translate }}</md-button>
                                            <md-button aria-label="Remove" class="md-remove" ng-click="removeRecipe(recipe, $event)"><md-icon class="material-icons md-dark">delete</md-icon> {{ 'btn.delete-text' | translate }}</md-button>
                                        </div>
                                    </md-card>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label="{{ 'profile.fav-title' | translate }}" md-on-select="nextPageRecipesFavorites()">
                        <div infinite-scroll="nextPageRecipesFavorites()" infinite-scroll-disabled="infiniteScroll.recipesFavorites.loadingNextPage || errorMsg" infinite-scroll-distance="3" layout-wrap>
                            <md-content class="md-padding">
                                <div class="animation-card-recipes" ng-repeat="recipe in infiniteScroll.recipesFavorites.data" flex="100">
                                    <md-card class="card-recipe-profile">
                                        <a ng-href="/recipes/{{ recipe.slug }}">
                                            <md-card-title>
                                                <md-card-title-media>
                                                    <div class="md-media-md card-media">
                                                        <img class="recipe-photo-main" data-ng-src="{{ recipe.image_main | srcImage:recipe.user }}" />
                                                    </div>
                                                </md-card-title-media>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{ recipe.title }}</span>
                                                    <span class="md-subhead">
                                                        <div data-ng-bind-html="description(recipe.steps)"></div>
                                                    </span>
                                                </md-card-title-text>
                                            </md-card-title>
                                        </a>
                                        <div layout="row" layout-align="end center">
                                            <md-button ng-click="removeFavorite(recipe, $event)" class="md-icon-button" aria-label="Favoritos">
                                                <md-icon class="material-icons md-red">favorite</md-icon>
                                            </md-button>
                                        </div>
                                    </md-card>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label="{{ 'profile.images-title' | translate }}" md-on-select="loadUserImages()">
                        <md-content class="md-padding">
                            <div ng-repeat="image in images | orderBy:'-created_at'" flex="100">
                                <md-card class="image-list-card">
                                    <md-card-title>
                                        <md-card-title-media>
                                            <div class="md-media-md card-media" layout="row" layout-align="center center">
                                                <a layout="row" layout-align="center center" class="image-recipe-zoomable fancybox" rel="gallery" title="{{ image.title }}" ng-href="{{ image | srcImage:user }}">
                                                    <img ng-src="{{ image | srcImage:user }}" />
                                                </a>
                                            </div>
                                        </md-card-title-media>
                                        <md-card-title-text>
                                            <span class="md-headline">{{ image.title }}</span>
                                            <span class="md-subhead"><strong>{{ 'profile.image-text-uploaded' | translate }} </strong> {{ image.created_at | date:'medium' }}</span>
                                            <div layout="row" layout-align="space-between strech">
                                                <md-content layout="column" layout-wrap>
                                                    <div flex><strong>{{ 'profile.image-text-count-main' | translate }}</strong> {{ image.recipesImageMain }}</div>
                                                    <div flex><strong>{{ 'profile.image-text-count-extra' | translate }}</strong> {{ image.recipes }}</div>
                                                    <div flex><strong>{{ 'profile.image-text-count-total' | translate }}</strong> {{ image.recipes + image.recipesImageMain }}</div>
                                                </md-content>
                                                <div layout="row" layout-align="end end">
                                                    <md-tooltip ng-if="image.recipesImageMain > 0">{{ 'tooltip.image-used-text' | translate }}</md-tooltip>
                                                    <md-button ng-disabled="image.recipesImageMain > 0" aria-label="Remove" class="md-remove" ng-click="remove(image, $event)">
                                                        <md-icon class="material-icons md-dark">delete</md-icon> {{ 'btn.delete-text' | translate }}
                                                    </md-button>
                                                </div>
                                            </div>
                                        </md-card-title-text>
                                    </md-card-title>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'profile.friends-title' | translate }}" md-on-select="nextPageFriends()">
                        <div infinite-scroll="nextPageFriends()" infinite-scroll-disabled="infiniteScroll.friends.loadingNextPage || errorMsg" infinite-scroll-distance="3" layout-wrap>
                            <md-content class="md-padding" layout="row" layout-wrap layout-align="space-around start">
                                <div class="animation-card-users" ng-repeat="user in infiniteScroll.friends.data" flex="100">
                                    <md-card class="card-user-main">
                                        <a ng-href="/users/{{ user.id }}">
                                            <md-card-title>
                                                <md-card-title-media>
                                                    <div class="md-media-md card-media">
                                                        <img ng-src="{{ user | userImage }}" />
                                                    </div>
                                                </md-card-title-media>
                                                <md-card-title-text>
                                                    <div layout="row" layout-align="space-between end">
                                                        <div>
                                                            <div class="md-headline">{{ user | fullname }}</div>
                                                            <div class="md-subhead">{{ user.username }}</div>
                                                            <div class="md-subhead">{{ user.email }}</div>
                                                        </div>
                                                        <div ng-if="isMe(user)"></div>
                                                        <div ng-else-if="checkFriend(user)">
                                                            <md-button class="md-remove" ng-click="deleteFriend(user, $event)">
                                                                <md-icon class="material-icons md-dark">delete</md-icon> {{ 'btn.delete-friend-text' | translate }}
                                                            </md-button>
                                                        </div>
                                                        <div ng-else>
                                                            <md-button class="md-edit" ng-click="addFriend(user, $event)">
                                                                <md-icon class="material-icons md-dark">plus</md-icon> {{ 'btn.add-friend-text' | translate }}
                                                            </md-button>
                                                        </div>
                                                    </div>
                                                </md-card-title-text>
                                            </md-card-title>
                                        </a>
                                    </md-card>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<md-button ng-show="selectedProfileTab == 2" class="md-fab md-fixed-bottom-profile" aria-label="Subir imagenes" ng-click="openUploadImage($event)">
    <md-icon class="material-icons md-light">file_upload</md-icon>
</md-button>
