<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex-gt-md="75" flex-gt-lg="50" flex="grow" layout="column">
        <md-card class="profile-card md-whiteframe-z3">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Editar perfil</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="without-padding">
                <md-tabs class="md-info" md-border-bottom="true" md-stretch-tabs="auto" md-swipe-content="true"
                md-enable-disconnect="true" md-selected="selectedProfileTab" md-align-tabs="top"
                md-dynamic-height md-border-bottom>
                    <md-tab label="Datos personales" md-on-select="loadPersonalData()">
                        <form name="form" role="form" ng-submit="save()">
                            <md-content class="md-padding">
                                <div class="md-block without-input">
                                    <label>Nombre del usuario</label>
                                    <div class="value">{{ user.username }}</div>
                                </div>
                                <div class="md-block without-input">
                                    <label>Email</label>
                                    <div class="value">{{ user.email }}</div>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Nombre completo</label>
                                    <input type="text" name="first_name" ng-model="user.first_name" />
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Apellidos</label>
                                    <input type="text" name="last_name" ng-model="user.last_name" />
                                </md-input-container>
                                <div class="md-card-subtitle">Cambiar contraseña</div>
                                <md-input-container class="md-block">
                                    <label>Contraseña</label>
                                    <input type="password" name="password" ng-model="user.password">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Confirmar contraseña</label>
                                    <input type="password" name="passwordRepeat" ng-model="user.passwordRepeat" data-password-verify="password">
                                    <div ng-messages="form.passwordRepeat.$error" role="alert" multiple>
                                        <div ng-message="passwordVerify">Las contraseñas deben coincidir</div>
                                    </div>
                                </md-input-container>
                            </md-content>
                            <div class="md-card-actions" layout="column" layout-align="space-around stretch">
                                <div layout="column" layout-align="space-around stretch" layout-wrap layout-padding>
                                    <md-button type="submit" class="md-raised md-profile-button zoomAnimation" ng-disabled="form.$invalid" ng-hide="progressBarActivated || delay2">Guardar perfil</md-button>
                                    <div flex layout="row" layout-align="center center">
                                        <md-progress-circular md-mode="indeterminate" ng-show="progressBarActivated && !delay1" class="md-profile zoomAnimation" md-diameter="100"></md-progress-circular>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </md-tab>
                    <md-tab label="Tus recetas" ng-disabled="true">TO-DO</md-tab>
                    <md-tab label="Tus imagenes" md-on-select="loadUserImages()">
                        <md-content class="md-padding">
                            <div ng-repeat="image in images | orderBy:'-created_at'" flex="100" flex-lg="50">
                                <md-card class="image-list-card">
                                    <md-card-title>
                                        <md-card-title-media>
                                            <div class="md-media-md card-media" layout="row" layout-align="center center">
                                                <a layout="row" layout-align="center center" class="image-recipe-zoomable fancybox" rel="gallery" title="{{ image.title }}" ng-href="{{ image | srcImage:user }}">
                                                    <img ng-src="{{ image | srcImage:user }}" />
                                                </a>
                                            </div>
                                        </md-card-title-media>
                                        <md-card-title-text>
                                            <span class="md-headline">{{ image.title }}</span>
                                            <span class="md-subhead"><strong>Imagen subida el </strong> {{ image.created_at | date:'medium' }}</span>
                                            <div layout="row" layout-align="space-between strech">
                                                <md-content layout="column" layout-wrap>
                                                    <div flex><strong>Nº veces usada como principal:</strong> {{ image.recipesImageMain }}</div>
                                                    <div flex><strong>Nº veces usada como extra:</strong> {{ image.recipes }}</div>
                                                    <div flex><strong>Nº total de veces usada:</strong> {{ image.recipes + image.recipesImageMain }}</div>
                                                </md-content>
                                                <div layout="row" layout-align="end end">
                                                    <md-tooltip ng-if="image.recipesImageMain > 0">La imagen se usa en alguna receta como principal</md-tooltip>
                                                    <md-button ng-disabled="image.recipesImageMain > 0" aria-label="Remove" class="md-remove" ng-click="remove(image, $event)">
                                                        <md-icon class="material-icons md-dark">delete</md-icon> Borrar
                                                    </md-button>
                                                </div>
                                            </div>
                                        </md-card-title-text>
                                    </md-card-title>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Tus amigos" ng-disabled="true">TO-DO</md-tab>
                </md-tabs>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<md-button ng-show="selectedProfileTab == 2" class="md-fab md-fixed-bottom-profile" aria-label="Subir imagenes" ng-click="openUploadImage($event)">
    <md-icon class="material-icons md-light">file_upload</md-icon>
</md-button>
