<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex-gt-md="75" flex-gt-lg="50" flex="grow" layout="column">
        <md-card class="auth-card md-whiteframe-z3">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Resetea tu contraseña</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="form" role="form">
                    <md-content>
                        <md-witheframe class="md-whiteframe-3dp card-alert-success" layout-wrap layout-padding layout-column ng-show="hasMessage">{{ msg }}</md-witheframe>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="email" />
                            <div ng-messages="form.email.$error" role="alert" multiple>
                                <div ng-message="required">El email es necesario.</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </form>
            </md-card-content>
            <md-card-actions layout="column" layout-align="space-around stretch" layout-padding>
                <div layout="column" layout-align="space-around stretch" layout-wrap>
                    <md-button class="md-raised md-auth-button zoomAnimation" ng-click="resetPassword()" ng-disabled="form.$invalid" ng-hide="progressBarActivated || delay2">Enviar email</md-button>
                    <div flex="none" layout="row" layout-align="space-between center" layout-padding layout-wrap ng-hide="progressBarActivated || delay2">
                        <md-button flex class="zoomAnimation md-auth-button without-padding" ng-href="/login" ng-hide="progressBarActivated || delay2">¿Te acuerdas? Logueate</md-button>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate" ng-show="progressBarActivated && !delay1" class="md-auth zoomAnimation" md-diameter="100"></md-progress-circular>
                    </div>
                </div>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
