<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="recetariumApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="recetariumApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="recetariumApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="recetariumApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recetarium</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ tabColor }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ tabColor }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ tabColor }}">
    <link rel="stylesheet" href="assets/css/app.min.css">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div layout="column" ng-cloak>
        <div ng-if="IsHome">
            <div ng-include="'views/common/header-home.html'"></div>
        </div>
        <div ng-if="!IsHome">
            <div ng-include="'views/common/header.html'"></div>
        </div>

        <div class="container" ng-class="{'hide': !progressBarActivated}">
            <md-progress-linear md-mode="indeterminate" class="md-warn"></md-progress-linear>
        </div>

        <div layout="row" layout-wrap>
            <div flex-offset-gt-sm="10" flex-offset-sm="5"></div>
            <div ng-view flex></div>
            <div flex-offset-gt-sm="10" flex-offset-sm="5"></div>
        </div>
    </div>

    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/pnotify.core.min.js"></script>
    <script src="assets/js/lib/pnotify.buttons.min.js"></script>
    <script src="assets/js/lib/pnotify.callbacks.min.js"></script>
    <script src="assets/js/lib/pnotify.confirm.min.js"></script>
    <script src="assets/js/lib/pnotify.desktop.min.js"></script>
    <script src="assets/js/lib/pnotify.history.min.js"></script>
    <script src="assets/js/lib/pnotify.nonblock.min.js"></script>
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/angular-environment.min.js"></script>
    <script src="assets/js/lib/angular-route.min.js"></script>
    <script src="assets/js/lib/angular-resource.min.js"></script>
    <script src="assets/js/lib/angular-animate.min.js"></script>
    <script src="assets/js/lib/angular-aria.min.js"></script>
    <script src="assets/js/lib/angular-material.min.js"></script>
    <script src="assets/js/lib/angular-sanitize.min.js"></script>
    <script src="assets/js/lib/angular-messages.min.js"></script>
    <script src="assets/js/lib/angular-ui-router.min.js"></script>

    <script src="assets/js/app.min.js"></script>
</body>
</html>
