<md-dialog class="md-dialog-gallery-avatar" aria-label="Elige una imagen" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Elige una imagen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="row" layout-xs="column" layout-sm="column" layout-wrap layout-align="space-between stretch">
                <md-content layout="row" layout-wrap layout-align="space-around start" class="images-recipe-gallery" flex>
                    <h3 flex="100" class="text-center">Elige una de tus imágenes ...</h3>
                    <div ng-repeat="image in images" flex="100" flex-sm="50" flex-md="50" flex-lg="33">
                        <md-card ng-click="toggleImageSelected(image)">
                            <md-tooltip>{{ image.title }}</md-tooltip>
                            <md-button ng-show="image.selected" class="md-fab md-mini md-selected" aria-label="Selected"><md-icon class="material-icons">done</md-icon></md-button>
                            <img src="{{ image | srcImage:user }}" class="md-card-image" alt="{{ image.title }}">
                            <md-button ng-click="removeImage(image, $event)" class="md-fab md-mini md-remove" aria-label="Close"><md-icon class="material-icons">close</md-icon></md-button>
                        </md-card>
                    </div>
                </md-content>
                <md-content flex>
                    <h3 flex="100" class="text-center">... o sube una nueva imagen</h3>
                    <div class="dropzone theme-default" dropzone data-url="{{ urlUpload }}" images="images"></div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button ng-click="returnSelected()">Aceptar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
