/* app css stylesheet */
html,
body {
    background-color: $bodyBackground;
    md-content {
        background-color: transparent;
    }
}
body {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    & > .padding-body {
        padding-top: 64px;
    }

    &.body-home {
        & > .padding-body {
            padding-top: 400px;
            @media (max-width: $layout-breakpoint-sm) {
                padding-top: 300px;
            }
            @media (max-width: $layout-breakpoint-xs) {
                padding-top: 200px;
            }
        }
    }
}
md-dialog {
    background-color: transparent;
    md-dialog-content, md-dialog-actions {
        background-color: white;
    }
}
md-card md-card-title md-card-title-text md-input-container {
    margin-top: 15px;
    margin-bottom: 0px;
}
.md-card-image-container {
    &.md-card-home {
        display: block;
        width: 100%;
        position: relative;
        height: 0;
        padding: 56.25% 0 0 0;
        overflow: hidden;
    }
    .md-card-image {
        position: absolute;
        display: block;
        max-width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
md-input-container.md-has-no-icon-left {
    padding-left: 0;
    label {
        left: auto;
    }
}
.md-button {
    min-width: 40px;
    &.md-edit,&.md-edit .material-icons {
        color: green;
    }
    &.md-remove,&.md-remove .material-icons {
        color: red;
    }
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right !important;
}
*.without-padding {
    padding: inherit !important;
}
*.with-16-padding {
    padding: 16px !important;
}
.without-input {
    margin: 9px 0;
    label {
        -webkit-box-ordinal-group: 2;
        -webkit-font-smoothing: antialiased;
        display: block;
        order: 1;
        padding-left: 3px;
        padding-right: 0;
        pointer-events: none;
        transform: matrix(0.75, 0, 0, 0.75, 0, 6);
        transform-origin: 0px 0px;
    }
    .value {
        padding: 8px;
    }
}
.without-fixed-height {
    height: auto !important;
}
md-input-container .hint {
    padding-top: 5px;
    font-size: 12px;
    line-height: 14px;
    color: gray;
}
.md-icon-button-lg {
    width: 60px;
}
a {
    text-decoration: none;
    color: black;
}
