.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.menuBtn {
    background-color: transparent;
    border: none;
}
[md-header-picture] {
    position: absolute;
    top: 0;
    width: inherit;
    overflow: hidden;
    background: url(../img/header-logo.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto 64px;
    height: 64px;
}
md-sidenav {
    z-index: 100;
    position: fixed;
    @media (max-width: $layout-breakpoint-sm) {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        .md-toolbar-tools{
            height: 128px;
            max-height: 128px;
            h1 {
                margin-left: 12px;
            }
        }
    }
    md-toolbar {
        max-height: 128px;
    }
    & > md-content {
        overflow: hidden;
    }
}
header md-toolbar {
    &.md-tall {
        height: 400px;
        max-height: 400px;
        min-height: 64px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        @media (max-width: $layout-breakpoint-sm) {
            height: 300px;
            max-height: 300px;
            .md-toolbar-tools {
                height: 64px;
                max-height: 64px;
            }
        }
        @media (max-width: $layout-breakpoint-xs) {
            height: 200px;
            max-height: 200px;
            .md-toolbar-tools {
                z-index: 1;
            }
            .motto {
                font-size: 14px;
            }
        }
    }
    &:not(.md-tall) {
        height: 64px;
        max-height: 64px;
        .md-toolbar-tools {
            height: 64px;
            max-height: 64px;
        }
    }
    .user-image {
        max-height: 24px;
        max-width: 24px;
        border-radius: 50%;
        margin-right: 6px;
    }
}
md-input-container.search-home {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    .md-input {
        color: white;
        border-color: white;
    }
    &:not(.md-input-invalid).md-input-focused {
        .md-input {
            color: white;
            border-color: white;
        }
        md-icon {
            color: white;
        }
    }
    label {
        color: white !important;
    }
}
.img-logo {
    max-width: 100%;
    max-height: 200px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @media (max-width: $layout-breakpoint-sm) {
        max-height: 150px;
    }
    @media (max-width: $layout-breakpoint-xs) {
        max-height: 100px;
        margin-top: -35px;
        z-index: 0;
    }
}

.img-header {
    max-height: 64px;
    @media (max-width: $layout-breakpoint-sm) {
        margin-left: 10px;
        max-height: 48px;
    }
}

.search-container {
    max-width: 280px;
    min-width: 200px;
    margin-right: 40px;
    @media (max-width: $layout-breakpoint-sm) {
        margin-right: 6px;
    }
    md-input-container {
        @extend md-input-container.search-home;
    }
}

@each $size, $width in (md, 1115px), (sm, 780px), (xs, 400px) {
    .hide-custom-header-#{$size} {
        @media (max-width: $width) {
            display: none;
        }
    }

    .show-custom-header-#{$size} {
        @media (min-width: $width + 1) {
            display: none;
        }
    }
}

.sidebar-left {
    padding: 0;
    a {
        display: block;
        padding: 0 16px 0 32px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        border-radius: 0;
        color: black;
        cursor: pointer;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
        i {
            margin-right: 6px;
        }
    }
    .active a {
        background-color: black;
        color: white;
    }
}
.custom-error {
    -webkit-font-smoothing: antialiased;
    color: rgb(244, 67, 54);
    display: block;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 50px;
    padding-top: 5px;
}
