//noinspection ALL
.card-recipe-main {
    min-height: 190px;
    @media (max-width: $layout-breakpoint-sm) {
        md-card-title {
            padding: 16px;
        }
    }
    md-card-title-text {
        padding: 0 10px;
        @media (max-width: $layout-breakpoint-sm) {
            .md-headline {
                font-size: 20px;
                line-height: inherit;
            }
            .md-subhead {
                font-size: 14px;
                line-height: inherit;
                margin-top: 5px;
            }
        }
    }
    .recipe-photo-main {
        max-height: 150px;
        max-width: 150px;
        @media (max-width: $layout-breakpoint-md) {
            max-height: 100px;
            max-width: 100px;
        }
    }
}
.card-recipe-show {
    width: 100%;
    .ingredients {
        padding: 0;
        .material-icons {
            margin-left: 0;
        }
        .count {
            text-align: right;
        }
        [md-inset] {
            left: 56px;
            width: -webkit-calc(100% - 56px);
            width: calc(100% - 56px);
        }
    }
    .image-recipe-main {
        max-width: 100%;
        width: auto;
        margin: auto;
    }
    .image-recipe-zoomable {
        text-decoration: none;
        img {
            max-height: 100px;
            max-width: 100px;
        }
    }
    .tag {
        background: $darkOrangeBackground;
        border-radius: 16px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: block;
        float: left;
        height: 32px;
        line-height: 32px;
        margin: 8px 8px 0 0;
        max-width: 100%;
        padding: 0 12px;
        position: relative;
    }
}
.md-select-menu-container {
    background-color: white;
}
.search-block {
    padding-bottom: 0;
    md-input-container {
        padding-bottom: 2px;
    }
}
.card-recipe-with-form {
    width: 100%;
    .group-input-right {
        md-content {
            overflow: inherit;
        }
        md-input-container {
            margin: 0;
            padding-bottom: 2px;
            width: 100%;
            h4 {
                margin: 5px 0;
            }
        }
        md-select {
            margin: 0;
            md-select-value span {
                font-weight: normal;
            }
        }
        input:not([type='file']) {
            max-width: 80px;
            min-width: 80px;
        }
        .md-file-input {
            margin-top: 20px;
            input[type='file'] {
                cursor: pointer;
                height: 100%;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 4;
            }
            .md-textfield-input {
                min-width: 100%;
                max-width: 100%;
            }
            .md-button-file {
                right: 0;
                max-width: 32px;
                min-width: 32px;
                max-height: 32px;
                min-height: 32px;
                padding: 0;
                margin: 0;
                border-radius: 50%;
            }
            md-input-container {
                float: left;
                padding: 0;
                width: calc(100% - 32px);
                min-width: calc(100% - 32px);
                max-width: calc(100% - 32px);
                label {
                    margin-left: 5px;
                }
            }
        }
    }
    .md-editor-toolbar {
        box-shadow:
            0 1px 5px 0 rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.12);
        float:left;
        min-height: 96px;
        .md-editor-toolbar-group {
            float: left;
            color: rgba(0, 0, 0, 0.54);
        }
        .md-icon-button {
            border-radius: 10%;
            padding: 8px;
            margin: 4px;
            &.active {
                .md-ripple-container{
                    background-color: rgba(0, 0, 0, 0.15);
                    border-radius: 10%;
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
    .ta-editor {
        float: left;
        min-width: 100%;
    }
    .img-container {
        width: auto;
        vertical-align:top;
        text-align:center;
        padding: 0;
        .image-recipe-main {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: auto;
            max-width:100%;
            @media(max-width: $layout-breakpoint-md) {
                overflow: hidden;
                max-height: 450px;
            }
        }
    }
    md-input-container{
        margin-bottom: 0;
        &.md-input-invalid {
            .md-input {
                border-color: $errorColor;
            }
            md-icon {
                color: $errorColor;
            }
        }
    }
    md-input-container:not(md-input-invalid).md-input-focused {
        md-icon, label {
            color: $darkOrangeBackground;
        }
        .md-input, md-select {
            border-color: $darkOrangeBackground;
        }
    }
    md-select-menu md-option[selected] {
        color: $darkOrangeBackground;
    }
    md-select:not([disabled]):focus .md-select-value {
        border-color: $darkOrangeBackground;
    }
    md-chips .md-chips.md-focused {
        box-shadow: 0 2px $darkOrangeBackground;
    }
    md-chips .md-chip.md-focused {
        background: $darkOrangeBackground;
    }
}

.images-recipe-gallery {
    margin-top: 10px;
    padding: 5px 5px 20px;
    &.md-whiteframe-2dp .image-removable {
        img {
            max-height: 250px;
            max-width: 250px;
            z-index: 1;
        }
    }
    md-card {
        position: relative;
    }
    button.md-button {
        z-index: 2;
        position: absolute;
        &.md-remove {
            top: 0;
            right: 0;
            background-color: #9C0000;
            &:not([disabled]):hover {
                background-color: #B52603;
            }
            &:not([disabled]).md-focused {
                background-color: #F44336;
            }
            md-icon.material-icons {
                color: white;
            }
        }
        &.md-selected {
            top: 0;
            left: 0;
            &, &:not([disabled]):hover, &:not([disabled]).md-focused {
                background-color: hsla(176, 60%, 49%, 0.5);
            }
            md-icon.material-icons {
                color: white;
            }
        }
    }
}

.md-dialog-gallery-images {
    md-toolbar {
        background-color: $darkOrangeBackground;
    }
    .images-recipe-gallery {
        margin-top: 0px;
    }
}

.card-recipe-comments {
    width: 100%;
    .comment-list-card md-card-title {
        padding-top: 16px;
        md-card-title-media {
            margin-top: 0;
            .md-media-md {
                position: relative;
                overflow: hidden;
                height: 100px;
                width: 100px;
                img {
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }
        md-card-title-text {
            margin-left: 5px;
            .md-headline {
                font-size: 18px;
            }
            .md-subhead {
                text-align: right;
            }
        }
    }
}
