@import "app/bower/angular-material/angular-material.scss";
@import "material-icons.scss";
@import "animation.scss";
@import "app/bower/pnotify/src/pnotify.core.min";
@import "app/bower/pnotify/src/pnotify.buttons.min";
@import "app/bower/pnotify/src/pnotify.picon.min";
@import "app/bower/fancybox/source/jquery.fancybox";

$tealBackground: #00BFA5;
$darkOrangeBackground: #DD2C00;
$bodyBackground: rgb(224,224,224);
$errorColor: #B22222;

/* app css stylesheet */

html, body {
    background-color: $bodyBackground;
    md-content {
        background-color: rgba(0 ,0 ,0 ,0);
    }
}

.menuBtn {
    background-color: transparent;
    border: none;
}

[md-header-picture] {
    position: absolute;
    top: 0;
    height: 128px;
    width: inherit;
    overflow: hidden;
    background: url(../img/header-logo.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: 50px;
    @media (max-width: $layout-breakpoint-md) {
        background-position: 10px;
        background-size: auto 64px;
        height: 64px;
    }
}


@media (max-width: $layout-breakpoint-sm){
    md-sidenav {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
    }
}

@media (max-width: $layout-breakpoint-md){
    md-sidenav md-toolbar.md-tall, header md-toolbar.md-tall{
        height: 64px;
        max-height: 64px;
        min-height: 64px;
    }
}

.sidebar-left {
    padding: 0;
    a {
        display: block;
        padding: 0 16px 0 32px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        border-radius: 0;
        color: black;
        cursor: pointer;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
    }
    .active a {
        background-color: black;
        color: white;
    }
}

.custom-error {
    -webkit-font-smoothing: antialiased;
    color: rgb(244, 67, 54);
    display: block;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 50px;
    padding-top: 5px;
}

md-card md-card-title {
    padding: 24px 16px 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

md-card md-card-title md-card-title-text {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card-recipe-main {
    min-height: 190px;
    @media (max-width: $layout-breakpoint-sm){
        md-card-title {
            padding: 16px;
        }
    }
    md-card-title-text {
        padding: 0 10px;
        @media (max-width: $layout-breakpoint-sm) {
            .md-headline {
                font-size: 20px;
                line-height: inherit;
            }
            .md-subhead {
                margin-top: 5px;
                font-size: 14px;
                line-height: inherit;
            }
        }
    }
    .recipe-photo-main {
        max-height: 150px;
        max-width: 150px;
        @media (max-width: $layout-breakpoint-md) {
            max-height: 100px;
            max-width: 100px;
        }
    }
}

.card-recipe-show {
    width: 100%;
    .ingredients {
        padding: 0;
        .material-icons {
            margin-left: 0;
        }
        .count {
            text-align: right;
        }
        [md-inset] {
            left: 56px;
            width: -webkit-calc(100% - 56px);
            width: calc(100% - 56px);
        }
    }
    .image-recipe-main{
        @media (max-width: $layout-breakpoint-sm) {
            width: auto;
            max-width: 100%;
        }
    }
    .image-recipe-zoomable {
        text-decoration: none;
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
    .tag {
        cursor: pointer;
        border-radius: 16px;
        display: block;
        height: 32px;
        line-height: 32px;
        margin: 8px 8px 0 0;
        padding: 0 12px;
        float: left;
        box-sizing: border-box;
        max-width: 100%;
        position: relative;
        background: $darkOrangeBackground;
        color: white;
    }
}

.md-select-menu-container {
    background-color: white;
}

.search-block {
    padding-bottom: 0;
    md-input-container {
        padding-bottom: 2px;
    }
}

//*** Custom Themes ***//

@each $theme, $color in (default, $darkOrangeBackground), (auth, $tealBackground) {
    .header-theme-#{$theme} {
        background-color: $color;
        color: white;
        md-toolbar {
            background-color: $color;
            color: white;
        }
        .sidebar-left {
            hr {
                border-color: $color;
            }
            a {
                color: $color;
            }
            .active a {
                background-color: $color;
                color: white;
            }
        }
    }
}

.login-card,.register-card {
    background-color: $tealBackground;
    color: white;
    md-content {
        background-color: $tealBackground;
        color: white;
        label {
            color: rgb(255, 255, 255) !important;
        }
        input {
            color: white;
            border-color: white;
        }
        md-input-container {
            &.md-input-invalid {
                label {
                    color: $errorColor !important;
                }
                input {
                    border-color: $errorColor;
                    color: $errorColor !important;
                }
            }
            &.md-input-focused .md-input {
                border-color: white;
            }

            [ng-messages] > div {
                color: $errorColor !important;
            }
        }
    }
}

.ui-pnotify.custom-error .ui-pnotify-container {
    background-color: $errorColor !important;
    background-image: none !important;
    border: none !important;
}
.ui-pnotify.custom-error .ui-pnotify-title, .ui-pnotify.custom-error .ui-pnotify-text {
    font-size: 10pt !important;
    color: #FFF !important;
    padding-left: 40px !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom-error .ui-pnotify-title {
    font-weight: bold;
}
.ui-pnotify.custom-error .ui-pnotify-icon {
    float: left;
}
