@import "app/bower/angular-material/angular-material.scss";
@import "variables.scss";
@import "material-icons.scss";
@import "animation.scss";
@import "header.scss";
@import "auth.scss";
@import "recipe.scss";
@import "lolliclock";
@import "app/bower/textAngular/dist/textAngular";
@import "app/bower/pnotify/dist/pnotify";
@import "app/bower/pnotify/dist/pnotify.buttons";
@import "app/bower/pnotify/dist/pnotify.mobile";
@import "app/bower/pnotify/dist/pnotify.history";
@import "app/bower/pnotify/dist/pnotify.brighttheme";
@import "app/bower/fancybox/source/jquery.fancybox";

/* app css stylesheet */
html,
body {
    background-color: $bodyBackground;
    md-content {
        background-color: transparent;
    }
}
md-card md-card-title {
    padding: 24px 16px 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
md-card md-card-title md-card-title-text {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.ui-pnotify.custom-error-notify .ui-pnotify-container {
    background-color: $errorColor !important;
    background-image: none !important;
    border: none !important;
}
.ui-pnotify.custom-error-notify .ui-pnotify-title,
.ui-pnotify.custom-error-notify .ui-pnotify-text {
    font-size: 10pt !important;
    color: white !important;
    padding-left: 40px !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom-error-notify .ui-pnotify-title {
    font-weight: bold;
}
.ui-pnotify.custom-error-notify .ui-pnotify-icon {
    float: left;
}

//*** Custom Themes ***//
@each $theme, $color, $backgroundDisabled, $colorDisabled in
(default, $darkOrangeBackground, $darkOrangeBackgroundDisabled, $darkOrangeColorDisabled),
(auth, $tealBackground, $tealBackgroundDisabled, $tealColorDisabled) {
    .header-theme-#{$theme} {
        background-color: $color;
        color: white;
        md-toolbar {
            background-color: $color;
            color: white;
        }
        .sidebar-left {
            hr {
                border-color: $color;
            }
            a {
                color: $color;
            }
            .active a {
                background-color: $color;
                color: white;
            }
        }
    }
    md-progress-circular.md-#{$theme} .md-inner {
        .md-gap {
            border-top-color: $color;
            border-bottom-color: $color;
        }
        .md-left .md-half-circle {
            border-top-color: $color;
            border-left-color: $color;
        }
        .md-right .md-half-circle {
            border-top-color: $color;
            border-right-color: $color;
        }
    }
    md-progress-linear.md-#{$theme} .md-bar {
        background-color: $color;
    }
    a.md-button.md-fab.md-fixed-bottom-#{$theme} {
        bottom:45px;
        background-color: $color;
        position:fixed;
        right:24px;
        z-index:998;
        &:hover, &:focus, &:visited, &.active, {
            @extend .md-button.md-fab.md-fixed-bottom-#{$theme};
        }
    }
    .body-theme-#{$theme} {
        md-card-actions {
            background-color: white;
            color: $color;
            .md-button {
                &.md-raised.md-primary {
                    background-color: $color;
                    color: white;
                    &:hover, &:focus, &:visited {
                        background-color: $color;
                    }
                    &[disabled] {
                        background-color: $backgroundDisabled;
                        color: $colorDisabled;
                    }
                }
            }
        }
        md-checkbox {
            &.md-checked {
                .md-icon {
                    background-color: $color;
                }
                .md-ink-ripple {
                    color: $color;
                }
            }
        }
    }
}
