.menuBtn {
    background-color: transparent;
    border: none;
}
[md-header-picture] {
    position: absolute;
    top: 0;
    height: 128px;
    width: inherit;
    overflow: hidden;
    background: url(../img/header-logo.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: 50px;
    @media (max-width: $layout-breakpoint-md) {
        background-position: 10px;
        background-size: auto 64px;
        height: 64px;
    }
}

@media (max-width: $layout-breakpoint-sm) {
    md-sidenav {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
    }
}
@media (max-width: $layout-breakpoint-md) {
    md-sidenav md-toolbar.md-tall,
    header md-toolbar.md-tall {
        height: 64px;
        max-height: 64px;
        min-height: 64px;
    }
}
.sidebar-left {
    padding: 0;
    a {
        display: block;
        padding: 0 16px 0 32px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        border-radius: 0;
        color: black;
        cursor: pointer;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
    }
    .active a {
        background-color: black;
        color: white;
    }
}
.custom-error {
    -webkit-font-smoothing: antialiased;
    color: rgb(244, 67, 54);
    display: block;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 50px;
    padding-top: 5px;
}
