.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.menuBtn {
    background-color: transparent;
    border: none;
}
[md-header-picture] {
    position: absolute;
    top: 0;
    width: inherit;
    overflow: hidden;
    background: url(../img/header-logo.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto 64px;
    height: 64px;
}

@media (max-width: $layout-breakpoint-sm) {
    md-sidenav {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
    }
}
md-sidenav md-toolbar.md-tall, header md-toolbar.md-tall {
    height: 400px;
    max-height: 400px;
    min-height: 64px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @media (max-width: $layout-breakpoint-sm) {
        height: 200px;
        max-height: 200px;
    }
}
md-input-container.search-home {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:not(.md-input-invalid).md-input-focused {
        .md-input {
            color: white;
            border-color: white;
        }
        md-icon {
            color: white;
        }
    }
    label {
        color: white !important;
    }
}
.img-logo {
    max-height: 200px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @media (max-width: $layout-breakpoint-sm) {
        max-height: 100px;
    }
}
.sidebar-left {
    padding: 0;
    a {
        display: block;
        padding: 0 16px 0 32px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        border-radius: 0;
        color: black;
        cursor: pointer;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
    }
    .active a {
        background-color: black;
        color: white;
    }
}
.custom-error {
    -webkit-font-smoothing: antialiased;
    color: rgb(244, 67, 54);
    display: block;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 50px;
    padding-top: 5px;
}
