//*** Custom notification ***//
@each $type, $color in (error, $errorColor), (success, $successColor), (primary, $primaryColor) {
    .ui-pnotify{
        &.custom-#{$type}-notify {
            background-color: $color !important;
            background-image: none !important;
            border: none !important;
            .ui-pnotify-title,
            .ui-pnotify-text {
                font-size: 10pt !important;
                color: white !important;
                padding-left: 40px !important;
                line-height: 1 !important;
                text-rendering: geometricPrecision !important;
            }
            .ui-pnotify-title {
                font-weight: bold;
            }
            .ui-pnotify-icon {
                float: left;
            }
        }
    }
}
