//noinspection ALL
.card-recipe-main {
    min-height: 190px;
    @media (max-width: $layout-breakpoint-sm) {
        md-card-title {
            padding: 16px;
        }
    }
    md-card-title-text {
        padding: 0 10px;
        @media (max-width: $layout-breakpoint-sm) {
            .md-headline {
                font-size: 20px;
                line-height: inherit;
            }
            .md-subhead {
                font-size: 14px;
                line-height: inherit;
                margin-top: 5px;
            }
        }
    }
    .recipe-photo-main {
        max-height: 150px;
        max-width: 150px;
        @media (max-width: $layout-breakpoint-md) {
            max-height: 100px;
            max-width: 100px;
        }
    }
}
.card-recipe-show {
    width: 100%;
    .ingredients {
        padding: 0;
        .material-icons {
            margin-left: 0;
        }
        .count {
            text-align: right;
        }
        [md-inset] {
            left: 56px;
            width: -webkit-calc(100% - 56px);
            width: calc(100% - 56px);
        }
    }
    .image-recipe-main {
        @media (max-width: $layout-breakpoint-sm) {
            max-width: 100%;
            width: auto;
        }
    }
    .image-recipe-zoomable {
        text-decoration: none;
        img {
            max-height: 100px;
            max-width: 100px;
        }
    }
    .tag {
        background: $darkOrangeBackground;
        border-radius: 16px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: block;
        float: left;
        height: 32px;
        line-height: 32px;
        margin: 8px 8px 0 0;
        max-width: 100%;
        padding: 0 12px;
        position: relative;
    }
}
.md-select-menu-container {
    background-color: white;
}
.search-block {
    padding-bottom: 0;
    md-input-container {
        padding-bottom: 2px;
    }
}
.card-recipe-create {
    width: 100%;
    .group-input-right {
        md-content {
            overflow: inherit;
        }
        md-input-container {
            padding-bottom: 2px;
            h4 {
                margin: 5px 0;
            }
        }
        md-select {
            margin: 0;
            md-select-value span {
                font-weight: normal;
            }
        }
        input:not([type='file']) {
            max-width: 80px;
            min-width: 80px;
        }
        .md-file-input {
            margin-top: 20px;
            input[type='file'] {
                cursor: pointer;
                height: 100%;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 4;
            }
            .md-textfield-input {
                min-width: 100%;
                max-width: 100%;
            }
            .md-button-file {
                right: 0;
                max-width: 32px;
                min-width: 32px;
                max-height: 32px;
                min-height: 32px;
                padding: 0;
                margin: 0;
                border-radius: 50%;
            }
            md-input-container {
                float: left;
                padding: 0;
                width: calc(100% - 32px);
                min-width: calc(100% - 32px);
                max-width: calc(100% - 32px);
                label {
                    margin-left: 5px;
                }
            }
        }
    }
    .md-editor-toolbar {
        box-shadow:
            0 1px 5px 0 rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.12);
        float:left;
        min-height: 96px;
        .md-editor-toolbar-group {
            float: left;
            color: rgba(0, 0, 0, 0.54);
        }
        .md-icon-button {
            border-radius: 10%;
            &.active {
                .md-ripple-container{
                    background-color: rgba(0, 0, 0, 0.15);
                    border-radius: 10%;
                    height: 40px;
                    margin: 4px;
                    width: 40px;
                }
            }
        }
        .material-icons {
            margin: 12px;
        }
    }
    .ta-editor {
        float: left;
        min-width: 100%;
    }
    .image-recipe-main {
        @media (max-width: $layout-breakpoint-sm) {
            max-width: 100%;
            width: auto;
        }
    }
    md-input-container.md-input-invalid {
        .md-input {
            border-color: $errorColor;
        }
        md-icon {
            color: $errorColor;
        }
    }
    md-input-container:not(md-input-invalid).md-input-focused {
        md-icon, label {
            color: $darkOrangeBackground;
        }
        .md-input, md-select {
            border-color: $darkOrangeBackground;
        }
    }
    md-select-menu md-option[selected] {
        color: $darkOrangeBackground;
    }
    md-select:not([disabled]):focus .md-select-value {
        border-color: $darkOrangeBackground;
    }
    md-chips .md-chips.md-focused {
        box-shadow: 0 2px $darkOrangeBackground;
    }
    md-chips .md-chip.md-focused {
        background: $darkOrangeBackground;
    }
}
