.card-recipe-main {
    min-height: 190px;
    @media (max-width: $layout-breakpoint-sm) {
        md-card-title {
            padding: 16px;
        }
    }
    md-card-title-text {
        padding: 0 10px;
        @media (max-width: $layout-breakpoint-sm) {
            .md-headline {
                font-size: 20px;
                line-height: inherit;
            }
            .md-subhead {
                margin-top: 5px;
                font-size: 14px;
                line-height: inherit;
            }
        }
    }
    .recipe-photo-main {
        max-height: 150px;
        max-width: 150px;
        @media (max-width: $layout-breakpoint-md) {
            max-height: 100px;
            max-width: 100px;
        }
    }
}
.card-recipe-show {
    width: 100%;
    .ingredients {
        padding: 0;
        .material-icons {
            margin-left: 0;
        }
        .count {
            text-align: right;
        }
        [md-inset] {
            left: 56px;
            width: -webkit-calc(100% - 56px);
            width: calc(100% - 56px);
        }
    }
    .image-recipe-main {
        @media (max-width: $layout-breakpoint-sm) {
            width: auto;
            max-width: 100%;
        }
    }
    .image-recipe-zoomable {
        text-decoration: none;
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
    .tag {
        cursor: pointer;
        border-radius: 16px;
        display: block;
        height: 32px;
        line-height: 32px;
        margin: 8px 8px 0 0;
        padding: 0 12px;
        float: left;
        box-sizing: border-box;
        max-width: 100%;
        position: relative;
        background: $darkOrangeBackground;
        color: white;
    }
}
.md-select-menu-container {
    background-color: white;
}
.search-block {
    padding-bottom: 0;
    md-input-container {
        padding-bottom: 2px;
    }
}
