$tealBackground: #00BFA5;
$tealBackgroundDisabled: rgba(0, 191, 165, .50);
$tealColorDisabled: rgba(255, 255, 255, .50);

$darkOrangeBackground: #DD2C00;
$darkOrangeBackgroundDisabled: rgba(221, 44, 0, .50);
$darkOrangeColorDisabled: rgba(255, 255, 255, .50);

$blueBackground:#304FFE;
$blueBackgroundDisabled: rgba(48, 79, 254, .50);
$blueColorDisabled: rgba(255, 255, 255, .50);

$amberBackground:#FFC107;
$amberBackgroundDisabled: rgba(255, 193, 7, .50);
$amberColorDisabled: rgba(255, 255, 255, .50);

$bodyBackground: #E0E0E0;
$errorColor: #B22222;
$successColor: #FF734E;
$primaryColor: #03acac;
