$tealBackground: #00BFA5;
$tealBackgroundDisabled: rgba(0, 191, 165, .50);
$tealColorDisabled: rgba(255, 255, 255, .50);

$darkOrangeBackground: #DD2C00;

$bodyBackground: #e0e0e0;
$errorColor: #B22222;
