<md-content class="md-padding" layout="row" layout-wrap layout-align="space-around start">
    <div class="container" ng-class="{'hide': !progressBarActivated}">
        <md-progress-circular md-mode="indeterminate" class="md-warn" md-diameter="70"></md-progress-circular>
    </div>
    <div class="container" ng-class="{'hide': !errorMsg}">
        <h2><i class="material-icons md-dark">{{ error.icon }}</i> {{ error.title}}</h2>
        <div>{{ error.msg }}</div>
    </div>
</md-content>

<md-content class="md-padding" layout="column" layout-wrap layout-align="center start" ng-class="{'hide': progressBarActivated || errorMsg}">
<md-card flex class="card-recipe-create">
    <div text-angular ng-model="htmlVariable"
        ta-toolbar-class="md-editor-toolbar" ta-toolbar-group-class="md-editor-toolbar-group"
        ta-toolbar-button-class="md-button md-icon-button" ta-toolbar-button-active-class="active"></div>
</md-card>
</md-content>
