<md-content class="md-padding" layout="column" layout-wrap layout-align="center center" layout-align-gt-md="center start">
    <form name="formRecipe" novalidate>
        <md-card flex class="card-recipe-with-form">
            <md-card-title class="md-title-page">
                <md-card-title-text>
                    <span class="md-headline" ng-class="{'loading': progressBarActivated}">{{ headerTitle }}</span>
                </md-card-title-text>
            </md-card-title>
            <div ng-hide="progressBarActivated || errorMsg">
                <md-card-title>
                    <md-card-title-text>
                        <em flex>Los campos con * son <u>requeridos</u>.</em>
                        <md-input-container>
                            <label>* Título</label>
                            <input required type="text" name="title" class="md-headline" ng-model="recipe.title" aria-label="title">
                            <div ng-messages="formRecipe.title.$error" md-auto-hide="false">
                                <div ng-message="required">El título de la receta es obligatorio.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-right md-block md-has-no-icon-left">
                            <label>* Slug</label>
                            <input required type="text" name="slug" class="md-subhead" ng-model="recipe.slug" aria-label="slug">
                            <md-icon ng-class="{loaderIcon:loadingSlug}" class="material-icons">{{ validSlugIcon }}</md-icon>
                            <div ng-messages="formRecipe.slug.$error" md-auto-hide="false">
                                <div ng-message="required">El slug de la receta es obligatorio.</div>
                                <div ng-message="validSlug">El slug ya existe. Puedes introducir uno nuevo o cambiarlo por otro, o cambiar el titulo de la receta para autogenerar otro nuevo.</div>
                            </div>
                            <div class="hint">El 'slug' es una frase descriptiva extraida del titulo de la receta para usarla en la direccion web. No afecta a nada del contenido.</div>
                        </md-input-container>
                    </md-card-title-text>
                </md-card-title>
            </div>
        </md-card>

        <md-card flex class="card-recipe-with-form">
            <div layout="column" layout-wrap layout-gt-sm="row">
                <div class="md-padding" flex flex-order="1" flex-order-gt-sm="2" flex-gt-sm="50" flex-gt-md="40"
                    class="md-padding" layout="row" layout-wrap layout-align="center center"
                    layout-align-gt-sm="end start">
                    <div layout="column" layout-wrap flex class="group-input-right">
                        <md-content flex class="md-padding">
                            <md-input-container class="md-has-no-icon-left">
                                <h4><md-icon class="material-icons">panorama</md-icon> * Foto principal (Portada)</h4>
                                <input type="hidden" ng-required="true" name="mainImage" required ng-model="recipe.image_main.id" aria-label="Foto principal">
                                <div ng-messages="formRecipe.mainImage.$error" md-auto-hide="false">
                                    <div ng-message="required">La imagen principal de la receta es obligatoria.</div>
                                </div>
                            </md-input-container>
                            <div layout="row" layout-align="center center">
                                <md-button class="img-container" ng-click="selectImageMain($event)">
                                    <md-tooltip>Haz click en la imagen para elegir otra</md-tooltip>
                                    <img src="{{ recipe.image_main | srcImage:recipe.user }}"  id="image-main" class="image-recipe-main" />
                                </md-button>
                            </div>
                        </md-content>
                        <md-content flex class="md-padding">
                            <md-input-container class="md-has-no-icon-left">
                                <h4 layout="row" layout-wrap layout-align="center center">
                                    <span flex><md-icon class="material-icons">timelapse</md-icon> * Duración (H:M):</span>
                                    <input required flex type="time" min="00:01:00" name="duration" ng-model="recipe.duration" str-to-time aria-label="duration"/>
                                </h4>
                                <div ng-messages="formRecipe.duration.$error" md-auto-hide="false">
                                    <div ng-message="min">La duración debe de ser de mas de 1 min.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-has-no-icon-left">
                                <h4 layout="row" layout-wrap layout-align="center center">
                                    <span flex><md-icon class="material-icons">people</md-icon> Núm de personas:</span>
                                    <input flex type="number" step="1" min="0" ng-model="recipe.num_persons" value="0" aria-label="num persons"/>
                                </h4>
                            </md-input-container>
                            <md-input-container  class="md-has-no-icon-left">
                                <h4 layout="row" layout-wrap layout-align="center center">
                                    <span flex="100" flex-gt-md="60"><md-icon class="material-icons" ng-class="getDifficulty(recipe.difficulty)">stars</md-icon> * Dificultad:</span>
                                    <md-select flex="100" flex-gt-md="40" flex ng-model="recipe.difficulty" aria-label="difficulty">
                                        <md-option ng-value="diff" ng-repeat="diff in diffs">{{ diff | humanized }}</md-option>
                                    </md-select>
                                </h4>
                            </md-input-container>
                            <md-input-container class="md-has-no-icon-left">
                                <h4 layout="row" layout-wrap layout-align="center center">
                                    <span flex="100" flex-gt-md="60"><md-icon class="material-icons" ng-class="getVisibilityClass(recipe.visibility)">{{ getVisibilityIcon(recipe.visibility) }}</md-icon> * Visibilidad:</span>
                                    <md-select flex="100" flex-gt-md="40" flex ng-model="recipe.visibility" aria-label="visibility">
                                        <md-option ng-value="visibility" ng-repeat="visibility in visibilities">{{ visibility | humanized }}</md-option>
                                    </md-select>
                                </h4>
                            </md-input-container>
                            <md-input-container class="md-has-no-icon-left">
                                <h4 layout="row" layout-wrap layout-align="center center">
                                    <span flex="100" flex-gt-md="40"><md-icon class="material-icons">bookmark</md-icon> Categoría:</span>
                                    <md-select flex="100" flex-gt-md="60" ng-model="recipe.category_id" aria-label="Category" placeholder="Selecciona una categoría"md-on-open="loadCategories()">
                                        <md-option ng-repeat="category in categories" ng-value="category.id">{{ category.text }}</md-option>
                                    </md-select>
                                </h4>
                            </md-input-container>
                        </md-content>
                    </div>
                </div>
                <div flex flex-order="2" flex-order-gt-sm="1" flex-gt-sm="50" flex-gt-md="60">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"><md-icon class="material-icons">kitchen</md-icon>Ingredientes</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list class="ingredients" flex>
                            <md-list-item ng-repeat="ingredient in recipe.ingredients">
                                <md-button class="md-icon-button" ng-click="removeIngredient($index)">
                                    <md-icon class="material-icons md-dark">remove_circle_outline</md-icon>
                                </md-button>
                                <div class="ingredient" flex layout="row">
                                    <md-input-container class="md-block" flex="70" flex-gt-sm>
                                        <label>Nombre</label>
                                        <input required type="text" name="ingredientName{{$index}}" ng-model="ingredient.name" />
                                        <div ng-messages="formRecipe['ingredientName' + $index].$error" md-auto-hide="false">
                                            <div ng-message="required">El nombre del ingrediente es necesario.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Cantidad</label>
                                        <input type="text" ng-model="ingredient.count" />
                                    </md-input-container>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <md-button class="md-icon-button" ng-click="addIngredient()">
                                    <md-icon class="material-icons md-dark">add_circle_outline</md-icon>
                                </md-button>
                                <div class="ingredient" flex layout="row">
                                    <md-input-container class="md-block" flex="70" flex-gt-sm>
                                        <label>Nombre</label>
                                        <input ng-keyup="$event.keyCode == 13 ? addIngredient() : null" type="text" name="newIngredientName" ng-model="recipe.newIngredient.name" customRequired />
                                        <ng-messages for="formRecipe.newIngredientName.$error" md-auto-hide="false">
                                            <ng-message when="customRequired">El nombre del ingrediente es necesario.</ng-message>
                                        </ng-messages>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Cantidad</label>
                                        <input ng-keyup="$event.keyCode == 13 ? addIngredient() : null" type="text" name="newIngredientCount" ng-model="recipe.newIngredient.count" />
                                    </md-input-container>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </div>
            </div>

            <div layout="row" layout-wrap layout-padding>
                <md-chips ng-model="recipe.chipTags"
                    md-autocomplete-snap
                    readonly="false"
                    md-transform-chip="transformChip($chip)"
                    md-require-match="false">
                    <md-autocomplete
                        md-selected-item="selectedTag"
                        md-item-text="tag.text"
                        md-search-text="searchText"
                        md-items="tag in tagSearch(searchText)"
                        placeholder="Busca una etiqueta">
                        <span md-highlight-text="searchText">{{ tag.text }}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>{{ $chip.text }}<span ng-if="$chip.type"> (<em>{{ $chip.type }}</em>)</span></span>
                    </md-chip-template>
                </md-chips>
            </div>

            <div layout="row" layout-padding layout-wrap>
                <div text-angular ng-model="recipe.steps" class="md-whiteframe-2dp"
                    ta-toolbar-class="md-editor-toolbar" ta-toolbar-group-class="md-editor-toolbar-group"
                    ta-toolbar-button-class="md-button md-icon-button" ta-toolbar-button-active-class="active"></div>
            </div>

            <div layout="row" layout-wrap layout-padding>
                <div flex layout-align="center" layout="column" layout-wrap>
                    <div flex layout-align="center center" layout="column" layout-wrap>
                        <md-button class="md-primary md-raised" ng-click="selectImages($event)">
                            <md-icon class="material-icons md-light">file_upload</md-icon> Elige tus imágenes
                        </md-button>
                    </div>
                    <div class="images-recipe-gallery md-whiteframe-2dp" ng-show="recipe.files.length > 0"
                        layout="row" layout-wrap layout-align="space-around center" flex>
                        <div flex="nogrow" class="image-removable" ng-repeat="image in recipe.files">
                            <md-card>
                                <md-tooltip>{{ image.title }}</md-tooltip>
                                <img src="{{ image | srcImage:recipe.user }}" class="md-card-image" alt="{{ image.title }}">
                                <md-button ng-click="removeImageFromRecipe($index)" class="md-fab md-mini md-remove" aria-label="Remove"><md-icon class="material-icons">close</md-icon></md-button>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>

            <md-card-actions layout="row" layout-align="end">
                <md-button class="md-primary md-raised" ng-click="edit()" ng-disabled="formRecipe.$invalid || progressBarActivated">editar la receta</md-button>
            </md-card-actions>
        </md-card>
    </form>
</md-content>
