<div infinite-scroll="nextPage()" infinite-scroll-disabled="loadingNextPage || errorMsg" infinite-scroll-distance="3" layout-wrap>
    <md-content class="md-padding" layout="row" layout-wrap layout-align="space-around start">
        <div class="container" ng-show="progressBarActivated && recipes.length == 0">
            <md-progress-circular md-mode="indeterminate" class="{{ loaderTheme }}" md-diameter="70"></md-progress-circular>
        </div>
        <div class="animation-card-recipes" ng-repeat="recipe in recipes" flex="100" flex-gt-lg="50">
            <md-card ng-click="show(recipe.slug)" class="card-recipe-main">
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-md card-media">
                            <img class="recipe-photo-main" data-ng-src="{{ recipe.image_main | srcImage:recipe.user }}" />
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{ recipe.title }}</span>
                        <span class="md-subhead">
                            <div data-ng-bind-html="description(recipe.steps)"></div>
                        </span>
                        <md-content layout="row" layout-wrap layout-align="end end">
                            <i class="material-icons">account_circle</i>
                            <i>{{ recipe.user.username }}</i>
                        </md-content>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center" ng-if="isMine(recipe.user)">
                    <md-button aria-label="Edit" class="md-edit" ng-click="edit(recipe.slug, $event)"><md-icon class="material-icons md-dark">edit</md-icon> Editar</md-button>
                    <md-button aria-label="Remove" class="md-remove" ng-click="remove(recipe, $event)"><md-icon class="material-icons md-dark">delete</md-icon> Borrar</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>
<md-button ng-show="IsAuthed" class="md-fab md-fixed-bottom-default" aria-label="Nueva receta" ng-href="/new-recipe">
    <md-icon class="material-icons md-light">create</md-icon>
</md-button>
