<md-content class="md-padding" layout="row" layout-wrap layout-align="space-around start">
    <div class="container" ng-show="progressBarActivated">
        <md-progress-circular md-mode="indeterminate" class="{{ loaderTheme }}" md-diameter="70"></md-progress-circular>
    </div>
</md-content>

<div ng-hide="progressBarActivated || errorMsg || !recipe">
    <md-content class="md-padding" layout="column" layout-wrap layout-align="center start">
        <md-card flex class="card-recipe-show">
            <md-card-title class="md-title-page">
                <md-card-title-text>
                    <span class="md-headline">{{ recipe.title }}</span>
                </md-card-title-text>
            </md-card-title>
            <div layout="column" layout-wrap layout-gt-sm="row">
                <div flex flex-order="1" flex-order-gt-sm="2" flex-gt-sm="40" flex-gt-md="30"
                class="md-padding" layout="row" layout-wrap layout-align="center center"
                layout-align-gt-sm="end start">
                    <div layout="column" layout-wrap flex>
                        <a class="fancybox" title="{{ 'field.image-main' | translate }}" href="{{ recipe.image_main | srcImage:recipe.user }}">
                            <img class="image-recipe-main" src="{{ recipe.image_main | srcImage:recipe.user }}" />
                        </a>
                        <md-content flex class="md-padding">
                            <h4>
                                <md-icon class="material-icons">timelapse</md-icon> {{ 'field.duration' | translate }}: {{ recipe.duration | duration }}
                            </h4>
                            <h4 ng-if="recipe.num_persons > 0">
                                <md-icon class="material-icons">people</md-icon> {{ 'field.num-persons' | translate }}: {{ recipe.num_persons }}
                            </h4>
                            <h4>
                                <md-icon class="material-icons" ng-class="getDifficulty(recipe.difficulty)">stars</md-icon> {{ 'field.difficulty' | translate }}: {{ recipe.difficulty | humanized }}
                            </h4>
                            <h4 ng-if="isMine(recipe.user)">
                                <md-icon class="material-icons" ng-class="getVisibilityClass(recipe.visibility)">{{ getVisibilityIcon(recipe.visibility) }}</md-icon> {{ 'field.visibility' | translate }}: {{ recipe.visibility | humanized }}
                            </h4>
                            <h4 ng-if="recipe.category">
                                <md-icon class="material-icons">bookmark</md-icon> {{ 'field.category' | translate }}: {{ recipe.category.text }}
                            </h4>
                        </md-content>
                    </div>
                </div>
                <div flex flex-order="2" flex-order-gt-sm="1" flex-gt-sm="60" flex-gt-md="70">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"><md-icon class="material-icons">kitchen</md-icon>{{ 'field.ingredients' | translate }}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list class="ingredients" flex>
                            <md-list-item ng-repeat="ingredient in recipe.ingredients">
                                <md-icon class="material-icons md-dark">label</md-icon>
                                <div class="ingredient" flex layout="row">
                                    <div class="name" flex="70">{{ ingredient.name | capitalize }}</div>
                                    <div class="count" flex>{{ ingredient.count }}</div>
                                </div>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </div>
            </div>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ 'field.steps' | translate }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div data-ng-bind-html="description(recipe.steps)"></div>
            </md-card-content>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ 'field.images' | translate }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="start center">
                <div ng-repeat="image in images">
                    <a class="image-recipe-zoomable fancybox" rel="gallery" title="{{ image.title }}" href="{{ image | srcImage:recipe.user }}" >
                        <img ng-src="{{ image | srcImage:recipe.user }}" />
                    </a>
                </div>
            </md-card-content>
            <md-card-content layout="row" layout-align="start center">
                <div class="tag" ng-repeat="tag in tags" ng-click="searchByTag(tag.id)">{{ tag.text }}</div>
            </md-card-content>
            <md-card-actions flex="100" layout="row" layout-align="space-between center">
                <md-button ng-click="toggleComments()">
                    <md-tooltip md-direction="top">{{ 'tooltip.show-comments' | translate }}</md-tooltip>
                    {{ comments.length }} {{ 'field.comment' | translate }}<span ng-if="comments.length > 1">s</span>
                </md-button>
                <md-card-icons-actions>
                    <md-menu md-offset="0 -105">
                        <md-button ng-click="openShareMenu($mdOpenMenu, $event)"  class="md-icon-button" aria-label="Compartir"><md-icon class="material-icons md-dark">share</md-icon></md-button>
                        <md-menu-content>
                            <md-menu-item><md-button ng-click="shareBy('email')"><md-icon class="material-icons">mail</md-icon> Email</md-button></md-menu-item>
                            <md-menu-item><md-button class="no-implemented"><md-icon md-svg-src="/assets/img/icons/facebook.svg" class="s24" aria-label="Facebook"></md-icon> Facebook</md-button></md-menu-item>
                            <md-menu-item><md-button class="no-implemented"><md-icon md-svg-src="/assets/img/icons/twitter.svg" class="s24" aria-label="Twitter"></md-icon> Twitter</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button ng-click="toggleFav()" class="md-icon-button" aria-label="Favoritos">
                        <md-tooltip md-direction="top">{{ favorites }} {{ 'field.fav' | translate }}</md-tooltip>
                        <md-icon class="material-icons md-red">{{ fav ? 'favorite' : 'favorite_border' }}</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Puntuación">
                        <md-tooltip md-direction="top">{{ recipe.rating.rating }}</md-tooltip>
                        <md-icon class="material-icons md-yellow">{{ getRatingIcon(recipe.rating.rating) }}</md-icon>
                    </md-button>
                    <md-button ng-if="rated" ng-click="showRating()" aria-label="Puntuación">
                        <md-icon class="material-icons md-yellow">{{ getRatingIcon(rated) }}</md-icon> {{ rated }}
                    </md-button>
                </md-card-icons-actions>
            </md-card-actions>
        </md-card>

        <md-card flex class="card-recipe-comments" ng-if="commentsActived">
            <md-card-title class="md-title-page">
                <md-card-title-text flex="100" layout="row" layout-align="space-between center">
                    <div class="md-headline">{{ 'field.comment' | translate }}<span ng-if="comments.length > 1">s</span></div>
                    <md-button ng-if="IsAuthed" ng-click="addComment(null, $event)"  class="md-raised"><md-icon class="material-icons md-black">reply</md-icon> {{ 'btn.write-comment' | translate }}</md-button>
                </md-card-title-text>
            </md-card-title>
            <md-card-content id="comments-{{ recipe.id }}">
                <div ng-repeat="comment in comments | orderBy:created_at:true" flex="100">
                    <md-card class="comment-list-card">
                        <md-card-title>
                            <md-card-title-media>
                                <div class="md-media-md card-media" layout="row" layout-align="center center">
                                    <img ng-src="{{ comment.user | userImage:recipe.user }}" />
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <span class="md-headline">{{ comment.text }}</span>
                                <span class="md-subhead" ng-if="comment.updated_at != comment.created_at">{{ 'comment.last-update' | translate }} <em>{{ comment.updated_at | date:'medium' }}</em></span>
                                <span class="md-subhead">{{ 'comment.created-at' | translate }} <em>{{ comment.created_at | date:'medium' }}</em></span>
                                <span class="md-subhead"><strong>{{ comment.user.first_name + ' ' + comment.user.last_name }}</strong></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end end" flex>
                            <md-card-icons-actions>
                                <md-button class="md-icon-button" aria-label="{{ 'btn.comment-text' | translate }}" ng-click="addComment(comment.id, $event)" ng-if="IsAuthed"><md-icon class="material-icons md-dark">reply</md-icon></md-button>
                                <md-button class="md-icon-button-lg" aria-label="{{ 'btn.replies-text' | translate }}" ng-click="toggleReplies(comment, $event)" ng-if="comment.replies.length > 0"><md-icon class="material-icons md-dark">expand_more</md-icon> {{ comment.replies.length }}</md-button>
                                <md-button class="md-icon-button" aria-label="{{ 'btn.edit-text' | translate }}" ng-click="editComment(comment.id, comment.text, $event)" ng-if="isMine(comment.user)"><md-icon class="material-icons md-green">edit</md-icon></md-button>
                                <md-button class="md-icon-button" aria-label="{{ 'btn.delete-text' | translate }}" ng-click="deleteComment(comment, $event)" ng-if="isMine(comment.user)"><md-icon class="material-icons md-red">delete_forever</md-icon></md-button>
                            </md-card-icons-actions>
                        </md-card-actions>
                        <md-content id="replies-{{ comment.id }}"></md-content>
                    </md-card>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>
