<header md-page-header class="fixed-top">
    <md-toolbar flex class="md-whiteframe-z1 md-tall">
        <div class="md-toolbar-tools">
            <div hide-gt-sm>
                <button type="button" ng-click="toggleLeft()" aria-label="Toogle menu" class="menuBtn">
                    <i class="material-icons md-light">menu</i>
                </button>
            </div>
            <md-menu class="hide-custom-header-sm">
                <md-button  ng-class="getClassActive('/recipes')" ng-click="openDropdrown($mdOpenMenu, $event)">
                    <md-icon class="material-icons">restaurant</md-icon> {{ 'menu.recipes' | translate }}
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-class="getClassActive('/recipes')">
                        <md-button ng-href="/recipes">
                            <md-icon class="material-icons">fiber_new</md-icon> {{ 'menu.last-recipes' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-class="getClassActive('/top-recipes')" class="no-implemented">
                        <md-button>
                            <md-icon class="material-icons">stars</md-icon> {{ 'menu.top-recipes' | translate }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu class="hide-custom-header-sm">
                <md-button ng-class="getClassActive('/users')" ng-click="openDropdrown($mdOpenMenu, $event)">
                    <md-icon class="material-icons">supervisor_account</md-icon> {{ 'menu.users' | translate }}
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-class="getClassActive('/users')">
                        <md-button ng-href="/users">
                            <md-icon class="material-icons">perm_identity</md-icon> {{ 'menu.all-users' | translate }}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-class="getClassActive('/friends')">
                        <md-button ng-href="/friends">
                            <md-icon class="material-icons">weekend</md-icon> {{ 'menu.friends' | translate }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span flex></span>
            <div hide-xs hide-sm show-gt-sm>
                <div ng-if="IsAuthed">
                    <md-menu>
                        <md-button ng-click="openDropdrown($mdOpenMenu, $event)">
                            <div layout="row" layout-align="center center">
                                <img class="user-image" ng-src="{{ userLogged | userImage:userLogged }}" />
                                <span>Hola, {{ userLogged.first_name }}</span>
                            </div>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-href="/new-recipe">
                                    <md-icon class="material-icons md-black">edit</md-icon> Escribe una receta
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-href="/profile">
                                    <md-icon class="material-icons">person</md-icon> Perfil
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-href="/logout">
                                    <md-icon class="material-icons">exit_to_app</md-icon> Logout
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-if="!IsAuthed">
                    <md-button ng-href="/login">Login / Registrate</md-button>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="center center">
            <div flex>
                <img class="img-logo" src="../img/header-logo.png" alt="Logo Recetarium">
            </div>
            <div flex class="motto">Recetario: Tus recetas siempre contigo.</div>
            <div flex>
                <md-input-container md-no-float class="md-has-no-icon-left search-home" flex="100" layout="row" layout-align="start center">
                    <md-button class="md-icon-button md-mini" ng-click="searchRecipe()" aria-label="Search">
                        <md-icon class="material-icons">search</md-icon>
                    </md-button>
                    <input ng-keyup="$event.keyCode == 13 ? searchRecipe() : null" type="text" ng-model="search" aria-label="Buscar recetas" />
                </md-input-container>
            </div>
        </div>
    </md-toolbar>
</header>
