<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar flex class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <div layout="column">
                <a ng-href="/"><img class="img-header" src="../img/header-logo.png" alt="Recetarium"></a>
                <h1 ng-if="IsAuthed">{{ 'menu.salutation' | translate }}, {{ userLogged.first_name }}</h1>
            </div>
        </div>
    </md-toolbar>
    <md-content>
        <ul class="sidebar-left">
            <li ng-repeat="navLink in navLinks" ng-class="getClassActive(navLink.url)">
                <a class="md-button {{ navLink.class }}" ng-click="navTo($event, navLink.url)"><div layout="row" layout-align="start center" data-ng-bind-html="navLink.title"></div></a>
            </li>
            <li ng-if="isAdmin" ng-class="getClassActive('categories')">
                <a class="md-button" ng-click="navTo($event, 'categories')"><div layout="row" layout-align="start center"><i class="material-icons">bookmark</i> {{ 'menu.categories' | translate }}</div></a>
            </li>
            <hr show-xs show-sm hide-gt-sm />
            <div ng-if="IsAuthed" show-xs show-sm hide-gt-sm>
                <li ng-class="getClassActive('/profile')">
                    <a class="md-button" ng-click="navTo($event, '/profile')"><md-icon class="material-icons">person</md-icon> {{ 'menu.profile' | translate }}</a>
                </li>
                <li ng-class="getClassActive('/settings')">
                    <a class="md-button" ng-click="navTo($event, '/settings')"><md-icon class="material-icons md-black">settings</md-icon> {{ 'menu.settings' | translate }}</a>
                </li>
                <hr show-xs show-sm hide-gt-sm />
                <li ng-class="getClassActive('/categories')"  ng-if="isAdmin">
                    <a class="md-button" ng-click="navTo($event, '/categories')"><md-icon class="material-icons md-black">bookmark</md-icon> {{ 'menu.categories' | translate }}</a>
                </li>
                <hr show-xs show-sm hide-gt-sm ng-if="isAdmin" />
                <li ng-class="getClassActive('/logout')">
                    <a class="md-button" ng-click="navTo($event, '/logout')"><md-icon class="material-icons">exit_to_app</md-icon> {{ 'menu.logout' | translate }}</a>
                <li>
            </div>
            <div ng-else show-xs show-sm hide-gt-sm>
                <li ng-class="getClassActive('/login') || getClassActive('/register')">
                    <a class="md-button" ng-click="navTo($event, '/login')">{{ 'menu.login' | translate }}</a>
                </li>
            </div>
        </ul>
    </md-content>
</md-sidenav>
